<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maths %><br />
    <%= f.number_field :maths %>
  </div>
  <div class="field">
    <%= f.label :physics %><br />
    <%= f.number_field :physics %>
  </div>
  <div class="field">
    <%= f.label :chemistry %><br />
    <%= f.number_field :chemistry %>
  </div>
  <div class="field">
    <%= f.label :student %><br />
    <%= f.select :student_id, Student.all.collect{|s| [s.name, s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
