<!DOCTYPE html>
<html>
<head>
  <title>Talk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] if flash[:notice]%>
<%= flash[:error] if flash[:error]%>

<%= yield %>

<% if current_user %>
  <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
<% end %>

</body>
</html>
